<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="gameservers" type="SLAGG.GameServers.GameServersSection,SLAGG.GameServers" />
	<section name="feeds" type="SLAGG.RSS.RssFeedSection,SLAGG.RSS" />
	</configSections>
	<appSettings>
		<add key="ircServer" value="irc.slagg.org" />
		<add key="ircNick" value="SLAGGDev" />
		<add key="ircPassword" value="" />
		<add key="ircChannel" value="#slagg-dev" />
		
		<add key="dbServer" value="5.57.192.24" />
		<add key="dbUser" value="slaggbot" />
		<add key="dbPassword" value="" />
		<add key="dbDatabase" value="slagg3" />

		<add key="tsDisplayServer" value ="ts.slagg.org" />
		<add key="tsServer" value="ts.slagg.org" />
		<add key="tsQueryPort" value="51234" />
		<add key="tsPort" value="8767" />
		<add key="tsNickname" value="SLAGG" />
		<add key="tsLogin" value="" />
		<add key="tsLoginPassword" value="" />

		<add key="gbDisplayServer" value="slagg.gablarski.com" />
		<add key="gbServer" value="slagg.gablarski.com" />
		<add key="gbPort" value="6112" />
	</appSettings>
  <feeds>
	<feeds>
	</feeds>
  </feeds>
	<gameservers>
		<servers>
			<addserver name="tf2" host="gs2.slagg.org" port="27015" type="SLAGG.GameServers.Valve.Source.SourceServer,SLAGG.GameServers" />
			<addserver name="q3" host="gs2.slagg.org" port="27960" type="SLAGG.GameServers.iD.Q3Server,SLAGG.GameServers" />
		</servers>
	</gameservers>
</configuration>